<div class="top-music">
    <h2 class="heading">Top Music</h2>

    <div class="table-wrapper">
        <div class="header">
            <div class="tabs">
                <div class="tab active">Artists</div>
                <div class="tab">Songs</div>
                <div class="tab">
                    <span>Moods</span>
                    <span class="tag">21</span>
                </div>
            </div>

            <div class="toolbar">
                <div class="label">Order by</div>

                <select>
                    <option class="placeholder" value="" disabled selected hidden>Order by</option>
                    <option>Most Played</option>
                    <option>Most Favourited</option>
                    <option>Newest</option>
                    <option>Rising</option>
                    <span class="material-icons" style="position: absolute;">arrow_downward</span>
                </select>
            </div>
        </div>

        <table>
            <tr>
                <th width="4%">#</th>
                <th width="60%">Artist</th>
                <th width="20%">Plays</th>
                <th width="10%">Songs</th>
                <th width="3%"></th>
                <th width="3%"></th>
            </tr>

            <tr *ngFor="let song of songs; let i = index">
                <td>{{i + 1}}</td>
                <td>{{song.artist}}</td>
                <td>{{song.plays | number : '1.0'}}</td>
                <td>{{song.songs | number : '1.0'}}</td>
                <td>
                    <span class="icon delete material-icons">delete</span>
                </td>
                <td>
                    <span class="icon share material-icons">share</span>
                </td>
            </tr>
        </table>
    </div>
</div>
