<div class="overview">
    <h2 class="heading">Overview</h2>

    <div class="info">
        <div class="item-wrapper" *ngFor="let overview of overviewData">
            <div class="item">
                <div class="circle" [class.up]="overview.changeType === changeTypes.Increase"
                    [class.down]="overview.changeType === changeTypes.Decrease">
                    <div class="title">{{overview.value}}</div>
                    <div class="subtitle">
                        <span *ngIf="overview.changeType === changeTypes.Decrease"
                            class="icon material-icons">arrow_downward</span>
                        <span *ngIf="overview.changeType === changeTypes.Increase"
                            class="icon material-icons">arrow_upward</span>
                        <span class="text">
                            <b>{{overview.periodDelta}}</b> last 30 days
                        </span>
                    </div>
                </div>
            </div>
            <div class="caption">
                {{overview.text}}
            </div>
        </div>

    </div>
</div>