:host {
    display: block;
    background-color: white;
    padding: 20px;
}

.tab-group__header {
    display: flex;
    margin-bottom: 15px;
}

.tab-group__labels {
    flex: 1 1 70%;
}

.tab-group__footer {
    margin-top: 10px;
}