.grid__column {
    &--controls {
        width: 10%;
    }
}

.grid__table {
    border-collapse: collapse;

    th {
        color: #b3b3b3;
    }

    td,
    th {
        padding: 4px 0;
    }

    tr {
        border-top: 1px solid #eceeef;
    }
}